<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Username</label><br />
    <input type="text" formControlName="username" />
  </div>

  <div>
    <label>First Name</label><br />
    <input type="text" formControlName="firstName" />
  </div>

  <div>
    <label>Last Name</label><br />
    <input type="text" formControlName="lastName" />
  </div>

  <div>
    <label>Email</label><br />
    <input type="email" formControlName="email" />
    @if (employeeForm.get('email')?.touched && employeeForm.get('email')?.errors?.['email']) {
      <span>Email tidak valid</span>
    }
  </div>

  <div>
    <label>Birth Date</label><br />
    <input
      type="date"
      formControlName="birthDate"
      [max]="today" />
  </div>

  <div>
    <label>Basic Salary</label><br />
    <input
      type="number"
      formControlName="basicSalary" />
  </div>

  <div>
    <label>Status</label><br />
    <input type="text" formControlName="status" />
  </div>

  <!-- GROUP DROPDOWN WITH SEARCH -->
  <div>
    <label>Group</label><br />

    <input
      type="text"
      placeholder="Search group..."
      [(ngModel)]="groupSearch"
      (input)="filterGroup()"
      [ngModelOptions]="{ standalone: true }"/>

    <select formControlName="group">
      @for (g of filteredGroups; track g) {
        <option [value]="g">{{ g }}</option>
      }
    </select>
  </div>

  <div>
    <label>Description</label><br />
    <textarea formControlName="description"></textarea>
  </div>

  <br />

  <button type="submit">Save</button>
  <button type="button" (click)="onCancel()">Cancel</button>

</form>
