

<div class="flex justify-between items-center mt-5 mb-3">
  <div class="w-[300]">
    <button 
    class="cursor-pointer bg-purple-600" 
    routerLink="/employee/add">
      Add Employee
    </button>
  </div>
  <div class="cursor-pointer hover:text-red-600"
  (click)="logout()">
    Logout
  </div>
</div>

<div class="grid grid-flow-col grid-cols-2 gap-4 space-y-3">
  <div>
    <input
    type="text"
    placeholder="Search First Name"
    [(ngModel)]="searchName"
    (input)="applyFilter()" />

  </div>
  <div>
    <input
      type="text"
      placeholder="Search Group"
      [(ngModel)]="searchGroup"
      (input)="applyFilter()" />
  </div>
</div>

<div class="flex justify-between items-center">
  <div class="w-[80px] mb-3">
    Show
    <select (change)="changePageSize($event)">
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <span>Total Data: <b>{{employees.length}}</b></span>
</div>



<div class="relative overflow-x-auto bg-white shadow-xs rounded-md border">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead>
            <tr>
                <th (click)="changeSort('firstName')">First Name</th>
                <th (click)="changeSort('lastName')">Last Name</th>
                <th (click)="changeSort('email')">Email</th>
                <th (click)="changeSort('group')">Group</th>
                <th (click)="changeSort('basicSalary')">Salary</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
          @if (pagedEmployees.length > 0) {
             @for (emp of pagedEmployees; track emp.id) {
              <tr class="border-b">
                <td class="flex items-center">
                  <div class="w-2 h-2 rounded-full mr-1 shrink-0"
                  [ngClass]="emp.status === 'ACTIVE' ? 'bg-green-500' : 'bg-red-500'"></div>
                  {{ emp.firstName }}
                </td>
                <td>{{ emp.lastName }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.group }}</td>
                <td class="text-nowrap">{{ emp.basicSalary | currency:'Rp. ':'symbol':'1.0' }}</td>
                <td class="flex space-x-2">
                  <button 
                  class="cursor-pointer bg-yellow-500" 
                  (click)="goToDetail(emp)">
                    Edit
                  </button>
                  <button 
                  class="cursor-pointer bg-red-500"
                  (click)="onDelete(emp)">
                    Delete
                  </button>
                </td>
              </tr>
            }
          } @else {
             <tr class="border-b text-center">
              <td colspan="6"><i>No Data Employee ...</i></td>
             </tr>
          }
        </tbody>
    </table>
</div>


<div class="flex flex-cols mt-3 items-center">
  <button
    [ngClass]="currentPage === 1 ? 'cursor-not-allowed bg-gray-500' : 'cursor-pointer bg-gray-800'"
    (click)="setPage(currentPage - 1)"
    [disabled]="currentPage === 1">
    Prev
  </button>

  <span class="mx-3 whitespace-nowrap">Page {{ currentPage }} / {{ totalPages }}</span>

  <button
    class="bg-black"
    [ngClass]="currentPage >= totalPages ? 'cursor-not-allowed bg-gray-500' : 'cursor-pointer bg-gray-800'"
    (click)="setPage(currentPage + 1)"
    [disabled]="currentPage >= totalPages">
    Next
  </button>
</div>